.arrow {
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    background: #ccc;
    cursor: pointer;
}

.container {
    background-color: red;
    border-radius: 10px;
    border: 3px solid black;
    width: 510px;
    height: 150px;
    position: relative;
}

.left {
    position: absolute;
    top: 40%;
    left: 10px;
}

.right {
    position: absolute;
    top: 40%;
    right: 10px;
}

.slider {
    left: 60px;
    top: 10px;
    width: 390px;
    height: 130px;
    overflow: hidden;
    background-color: red;
    position: relative;
}

ul {
    position: absolute;
    left: 0px;
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    /* убрать между inline-block li лишние пробелы, которые есть в HTML */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 0;
}

ul img {
    width: 130px;
    height: 130px;
    /* по умолчанию inline, но в ряде браузеров это даст лишнее пространство вокруг элементов */
    display: block;
}

ul li {
    /* если в HTML между элементами <li>..</li> есть пробелы, то они будут видны на странице,
  чтобы их избежать, нужно либо писать <li>..</li><li>..</li> вплотную, либо не ставить закрывающие </li> */
    display: inline-block;
}